:root {

    --verde-principal: #2E7D32;
    --verde-escuro: #1B5E20;
    --verde-claro: #66BB6A;

    --branco: #FFFFFF;
    --fundo-claro: #F5F7F2;
    --cinza-suave: #E0E0E0;

    --laranja: #FF8F00;
    --amarelo-suave: #FBC02D;

    --texto-principal: #212121;
}

body{

    background-color: var(--fundo-claro);

}

.titulo-adm{

    text-align: center;

    margin-bottom: 30px;

    color: var(--verde-escuro);

    font-weight: bold;

}

.formulario-adm{

    max-width: 500px;

    margin: auto;

    border: none;

    border-radius: 15px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

.btn-cadastrar{

    background-color: var(--verde-principal) !important;

    color: white !important;

    font-weight: bold;

    padding: 12px;

    border-radius: 10px;

}

.btn-cadastrar:hover{

    background-color: var(--verde-escuro) !important;

}

/* ================= ADM ================= */

.card-produto-adm{

    border: none;

    border-radius: 18px;

    overflow: hidden;

    box-shadow:
    0 4px 15px rgba(0,0,0,0.08);

    transition: 0.3s;

    background: white;

}

.card-produto-adm:hover{

    transform: translateY(-4px);

    box-shadow:
    0 8px 25px rgba(0,0,0,0.15);

}

.imagem-produto-adm{

    width: 100%;

    height: 220px;

    object-fit: cover;

    border-radius: 12px;

    margin-bottom: 15px;

}

.nome-produto-adm{

    font-size: 1.3rem;

    font-weight: bold;

    color: var(--texto-principal);

}

.preco-produto-adm{

    color: var(--verde-principal);

    font-size: 1.1rem;

    font-weight: bold;

}

.categoria-produto-adm{

    color: var(--texto-secundario);

    margin-bottom: 15px;

}

.btn-editar{

    flex: 1;

    background: #ffc107 !important;

    border: none !important;

    font-weight: bold !important;

    border-radius: 10px !important;

}

.btn-remover{

    flex: 1;

    border-radius: 10px !important;

}

#lista-produtos{

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

    gap: 20px;

}

.lista-produtos-pedido{

    margin-top: 10px;

}

.produto-pedido-item{

    background: #f5f5f5;

    padding: 10px;

    border-radius: 10px;

    margin-bottom: 8px;

    font-weight: 500;

}

.dashboard-card{

    text-align: center;

    padding: 20px;

    border: none;

    border-radius: 15px;

    box-shadow: 0 2px 10px rgba(0,0,0,0.08);

}

.dashboard-card h3{

    font-size: 2rem;

    font-weight: bold;

    color: #2E7D32;

}

.dashboard-card p{

    margin: 0;

    color: #666;

    font-weight: 600;

}

/* STATUS DOS PEDIDOS */

.status-pedido{

    padding: 6px 12px;

    border-radius: 20px;

    font-size: 0.9rem;

    font-weight: bold;

    color: white;

}

.status-pendente{

    background: #f1c40f;

}

.status-preparo{

    background: #3498db;

}

.status-entrega{

    background: #e67e22;

}

.status-entregue{

    background: #27ae60;

}